/*-- scss:defaults --*/

/*
$code-color: #c2d94c;
$code-color: #9753b8;
*/

/*
 * These are for 'darkly'
$code-color: #9753b8;
$code-bg: #2b2b2b;
*/

/* for theme 'slate' */
/* inline code */
$code-color:  #e83e8c;
$code-bg:     #3a3f44;   

/* code blocks */
$code-block-bg:           #3a3f44;
$code-block-border-left:  #DDDDC8;

// $code-block-bg-alpha: .8;


